.wrapper {
  & main {
    padding-top: 100px;
  }

  background-color: var(--main-background);
  min-height: 100vh;
  position: relative;

  main {
    min-height: calc(100vh - 110px);
    padding-top: 110px;
  }
}
