.wrapper {
  position: sticky;
  top: 120px;
  height: max-content;
}

.navBtn {
  font-size: 18px;
}

.collapse {
  transition: height 0.5s;
}

.active {
  color: red;
}

ul.optionWrapper {
  padding-left: 20px;
  font-size: 18px;

  & li {
    padding-top: 10px;
    cursor: pointer;
    width: max-content;
  }
}
